h1, .header1 {
  color: #2F5199; }
  h1.\--alt-color, .\--alt-color.header1 {
    color: #ffffff; }

h2, .header2 {
  color: #2F5199; }
  h2.\--alt-color, .\--alt-color.header2 {
    color: #ffffff; }

h3, .header3 {
  color: #2F5199; }
  h3.\--alt-color, .\--alt-color.header3 {
    color: #ffffff; }

h4, .header4 {
  color: #2F5199; }
  h4.\--alt-color, .\--alt-color.header4 {
    color: #ffffff; }

h5, .header5 {
  color: #2F5199; }
  h5.\--alt-color, .\--alt-color.header5 {
    color: #ffffff; }

h6, .header6 {
  color: #2F5199; }
  h6.\--alt-color, .\--alt-color.header6 {
    color: #ffffff; }

a {
  color: #9e2135; }
  a:focus {
    color: #741827;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }
  a:active {
    color: #741827;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }
  a:hover {
    color: #741827;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }

q {
  color: #00a8e1; }
  q:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #afafaf; }
  q:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #afafaf; }

cite {
  color: #6c6c6c; }

hr {
  border-bottom: 1px solid #afafaf; }

blockquote {
  color: #595959;
  border-left: 2px solid #55a51c; }

@media screen and (min-width: 1025px) {
  .header__logo {
    margin-right: calc(100% - 1100px); } }

.header__cta-link {
  background-color: #ba273e;
  text-shadow: none; }
  .header__cta-link:focus {
    color: #e6e6e6;
    background-color: #9e2135;
    transition: color 0.3s, background-color 0.3s; }
  .header__cta-link:active {
    color: #e6e6e6;
    background-color: #9e2135;
    transition: color 0.3s, background-color 0.3s; }
  .header__cta-link:hover {
    color: #e6e6e6;
    background-color: #9e2135;
    transition: color 0.3s, background-color 0.3s; }

.main-nav__items {
  background-color: #2F5199;
  border-top-color: #2F5199; }

.main-nav__item {
  background-color: #2F5199; }

.main-nav.\--shrunk {
  border-bottom-color: #2F5199; }

.circles__number {
  color: #ffffff; }

.icon-grid__item:hover:before {
  background-color: #2F5199; }

.icon-grid__item:focus:before {
  background-color: #2F5199; }

.base-grid__item:before {
  background-color: rgba(47, 81, 153, 0.6); }

.dual-container {
  background-color: #2F5199; }

.icon-grid__item {
  color: #9e2135; }

.icon-grid__item:focus {
  color: #9e2135; }

.link__button-table {
  color: #9e2135;
  border-color: #9e2135; }

.link__button-table:hover {
  background-color: rgba(158, 33, 53, 0.1);
  color: #9e2135; }

.link__button-focus {
  background-color: rgba(158, 33, 53, 0.1);
  color: #9e2135; }

.event-listing__filter-bar {
  background-color: #2F5199; }

.icon-cta__icon {
  color: #2F5199; }

.icon-cta__link {
  color: #9e2135; }

.news-blocks__item-content-title {
  color: #ffffff; }

.spotlight__content-title {
  color: #ffffff; }

.table__head {
  background-color: #2F5199; }

.table__column-head {
  color: #2F5199; }

.filter-bar__bar {
  background-color: #2F5199; }

.interest-builder__list-heading {
  color: #2F5199; }

.spotlight-links__section-content-item-date {
  color: #2F5199; }

.spotlight-links__section-content-item-link {
  color: #2F5199; }
  .spotlight-links__section-content-item-link:focus {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }
  .spotlight-links__section-content-item-link:active {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }
  .spotlight-links__section-content-item-link:hover {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }

.spotlight-links__section-image-item-link {
  color: #2F5199; }
  .spotlight-links__section-image-item-link:focus {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }
  .spotlight-links__section-image-item-link:active {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }
  .spotlight-links__section-image-item-link:hover {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }

.link-blocks__link-list-link {
  color: #2F5199; }
  .link-blocks__link-list-link:focus {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }
  .link-blocks__link-list-link:active {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }
  .link-blocks__link-list-link:hover {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }

.link-blocks__ribbon-date {
  color: #2F5199; }

.link-blocks__ribbon-text {
  color: #2F5199; }
  .link-blocks__ribbon-text:focus {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }
  .link-blocks__ribbon-text:active {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }
  .link-blocks__ribbon-text:hover {
    color: #233c72;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s; }

.footer {
  background: #2F5199; }
  .footer__mobile-login {
    color: #ffffff;
    background-color: #ba273e; }
    .footer__mobile-login:focus {
      color: #e6e6e6;
      background-color: #9e2135;
      transition: color 0.3s, background-color 0.3s; }
    .footer__mobile-login:active {
      color: #e6e6e6;
      background-color: #9e2135;
      transition: color 0.3s, background-color 0.3s; }
    .footer__mobile-login:hover {
      color: #e6e6e6;
      background-color: #9e2135;
      transition: color 0.3s, background-color 0.3s; }
  .footer__intro {
    border-right: 1px solid #3379ba; }
  .footer__contact-tel {
    border-right: 1px solid #3379ba; }
  .footer__aside {
    background: #004687;
    border-top: 1px solid #336b9f; }

.link__button-primary {
  color: #ffffff;
  background-color: #ba273e;
  text-shadow: none; }
  .link__button-primary:focus {
    color: #e6e6e6;
    background-color: #9e2135;
    transition: color 0.3s, background-color 0.3s; }
  .link__button-primary:active {
    color: #e6e6e6;
    background-color: #9e2135;
    transition: color 0.3s, background-color 0.3s; }
  .link__button-primary:hover {
    color: #e6e6e6;
    background-color: #9e2135;
    transition: color 0.3s, background-color 0.3s; }

.link__button-secondary {
  color: #2F5199; }
  .link__button-secondary:focus {
    color: #233c72;
    background-color: #e6e6e6;
    transition: color 0.3s, background-color 0.3s; }
  .link__button-secondary:active {
    color: #233c72;
    background-color: #e6e6e6;
    transition: color 0.3s, background-color 0.3s; }
  .link__button-secondary:hover {
    color: #233c72;
    background-color: #e6e6e6;
    transition: color 0.3s, background-color 0.3s; }

.link__button-tertiary {
  background-color: #2F5199; }
  .link__button-tertiary:focus {
    color: #e6e6e6;
    background-color: #233c72;
    transition: color 0.3s, background-color 0.3s; }
  .link__button-tertiary:active {
    color: #e6e6e6;
    background-color: #233c72;
    transition: color 0.3s, background-color 0.3s; }
  .link__button-tertiary:hover {
    color: #e6e6e6;
    background-color: #233c72;
    transition: color 0.3s, background-color 0.3s; }

.table-listing__list-item-campus-circle, .inline-table__list-item-campus-circle, .interest-builder__list-item-campus-circle {
  background-color: #9e2135; }

.wh-step-process-label {
  background: #f6f6f6; }
  .wh-step-process-label h4 {
    color: #2F5199; }

.wh-step-secondary-theme {
  color: #9e2135; }

.wh-step-process .panel {
  background: #004687; }
  .wh-step-process .panel:nth-child(even) {
    background: #2F5199; }

.wh-step-process .panel-body span {
  color: #9e2135;
  background: #f6f6f6; }

.wh-step-process .panel:nth-child(even) span {
  color: #9e2135; }

.wh-step-process .step-heading {
  color: rgba(255, 255, 255, 0.85); }

.wh-step-process .link__cta {
  color: #fff; }
