@media screen and (min-width: 1025px) {
  .header__logo {
    margin-right: calc(100% - 1175px); } }

.header__cta-link {
  background-color: #caa55d;
  color: #002664;
  text-shadow: none; }
  .header__cta-link:focus {
    color: #001331;
    background-color: #c29743;
    transition: color 0.3s, background-color 0.3s; }
  .header__cta-link:active {
    color: #001331;
    background-color: #c29743;
    transition: color 0.3s, background-color 0.3s; }
  .header__cta-link:hover {
    color: #001331;
    background-color: #c29743;
    transition: color 0.3s, background-color 0.3s; }

.circles__number {
  color: #ffffff; }

.link__button-table {
  color: #c29743;
  border-color: #c29743; }

.link__button-table:hover {
  background-color: rgba(194, 151, 67, 0.1);
  color: #c29743; }

.icon-cta__icon {
  color: #c29743; }

.icon-cta__link {
  color: #002664; }

.footer {
  background: #2a3769; }
  .footer__mobile-login {
    background-color: #caa55d;
    color: #002664; }
    .footer__mobile-login:focus {
      color: #001331;
      background-color: #c29743;
      transition: color 0.3s, background-color 0.3s; }
    .footer__mobile-login:active {
      color: #001331;
      background-color: #c29743;
      transition: color 0.3s, background-color 0.3s; }
    .footer__mobile-login:hover {
      color: #001331;
      background-color: #c29743;
      transition: color 0.3s, background-color 0.3s; }
  .footer__aside {
    background: #002664; }

.link__button-primary {
  color: #002664;
  background-color: #caa55d;
  text-shadow: none; }
  .link__button-primary:focus {
    color: #001331;
    background-color: #c29743;
    transition: color 0.3s, background-color 0.3s; }
  .link__button-primary:active {
    color: #001331;
    background-color: #c29743;
    transition: color 0.3s, background-color 0.3s; }
  .link__button-primary:hover {
    color: #001331;
    background-color: #c29743;
    transition: color 0.3s, background-color 0.3s; }

.table-listing__list-item-campus-circle, .inline-table__list-item-campus-circle, .interest-builder__list-item-campus-circle {
  background-color: #c29743; }

.wh-step-process-label {
  background: #f6f6f6; }
  .wh-step-process-label h4 {
    color: #2a3769; }

.wh-step-secondary-theme {
  color: #c29743; }

.wh-step-process .panel {
  background: #1e284c; }
  .wh-step-process .panel:nth-child(even) {
    background: #2a3769; }

.wh-step-process .panel-body span {
  color: #c29743;
  background: #f6f6f6; }

.wh-step-process .panel:nth-child(even) span {
  color: #c29743; }

.wh-step-process .step-heading {
  color: rgba(255, 255, 255, 0.85); }

.wh-step-process .link__cta {
  color: #fff; }
